@tailwind base;
@tailwind components;
@tailwind utilities;



#threecanvas {
  @apply w-full;
  position:fixed;
  top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: auto;
  z-index: -1;  
}
